@import "./common.scss";

.card-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  background-color:$bg-color-unfocused;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);

}

.card:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $bg-color-focused;
}