@import "./common.scss";

header {
  font-family: 'Dancing Script', cursive;
  color: $font-color;
  font-size: 20px;
  text-align: center;
}

@media (min-width:901px) {
  header {
    font-size: 30px;
  }
}

.home-link {
  text-decoration: none;
  color: $font-color;
}