@import "./common.scss";
@import "./background.scss";
@import "./grid.scss";
@import "./card.scss";
@import "./nav.scss";
@import "./footer.scss";
@import "./blog.scss";

body {
  margin: 0;
}

.home-link {
  text-decoration: none;
  color: $font-color;
}