@import "./common.scss";

$nav-bg-color: rgb(152,115,115);
$nav-bg-color-focused: rgb(121,91,91);

nav {
  font-size: 14px;
  color: $font-color;
  font-family: $main-font;
  
  ul {
    padding: 0px;
    margin-top: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: $nav-bg-color;
    position: fixed;
    width: 100%;
    top: 0;
  }

  li a {
    display: block;
    color: white;
    text-align: left;
    padding: 13px 17px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $nav-bg-color-focused;
  }
  
  li {
    float: left;
  }
}


@media (min-width:901px) {
  nav {
    font-size: 17px;
  }
}