.card-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  background-color: rgba(166, 116, 116, 0.5);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
}
.card p {
  margin: 0px;
  padding: 0px;
}
.card h1 {
  font-size: x-large;
  margin-top: 0px;
  padding: 0px;
}

.card:hover {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(166,116,116, 0.85);
}

.card-none-deco{
  text-decoration: none;
  color: blanchedalmond;
}

