@import "./background.css";
@import "./grid.css";
@import "./header.css";
@import "./card.css";
@import "./nav.css";
@import "./footer.css";
@import "./blog.css";

body {
  margin: 0;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.sketchfab-embed-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

