@import "./background.css";
@import "./grid.css";
@import "./header.css";
@import "./card.css";
@import "./nav.css";
@import "./footer.css";
@import "./blog.css";
@import "./sketchfab.css";

body {
  margin: 0;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}